@media screen and (min-width: 601px) {
  div.example {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.example {
    font-size: 30px;
  }
}

body {
    margin:0;
    overflow-y: scroll;
    overflow-x: hidden;
}



body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}
.Home
{
    background: url("https://images.unsplash.com/photo-1542394731-170c9e6d914e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1422&q=80");
    background-size: cover;
    background-position: center;
    width: 100%;
}

#Home2
{
    background-color: #ffeecc;
    height: 80%;
    display: block;
}
.wrapper{

        display: grid;
        grid-template-columns: 30% 20% 20% 20% 10%;
        grid-auto-rows: 0.5vw;
         
      }
.content{
	padding-top: 25%;
	text-align: center;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


/*About CSS*/


.S{
  display:none;
}
.grid-container {
 
  display:grid;
  background-color: #2196F3;
  padding:10px;

  
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}
img {
  border-radius: 25%;
}
.image{
grid-column: 1 / span 2 ;
  grid-row: 1;
  width:300px;

}
.button {
  background-color: tomato;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
}
.details{
background-color:black;
color:white;
grid-column: 3;
  grid-row: 1;

}